/* font-family: 'Luckiest Guy', cursive; */
/* font-family: 'Londrina Solid', cursive; */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Londrina Solid', cursive;
    font-size: 22px;
    color: black;
    background-image: url(../images/ignasi_pattern_s/ignasi_pattern_s.png);
}

.header {
    margin:auto;
}

h1 {
    font-size: 38px;
    font-family: 'Luckiest Guy', cursive;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#pillbox {
    position: relative;
    margin: auto;
    background-color: dodgerblue;
    width: 275px;
    height: 300px;
    border-radius: 7%;
    z-index: 2;
}

#grandpa {
    position: absolute;
    width: 250px;
    height: auto;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    z-index: 3;
}

#randomBox {
    position: relative;
    float: left;
    margin-left: 20%;
    margin-top: 2%;
    border-radius: 7%;
    width: 200px;
    height: 200px;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background-color: #ff8c1a;
    text-align: center;
    padding-top: 15px;
}

#prescription {
    font-family: 'Luckiest Guy', cursive;
}

#randomNumber {
    font-family: 'Luckiest Guy', cursive;
    padding-top: 20%;
    font-size: 36px;
}

#guessesBox {
    position: relative;
    float: right;
    margin-right: 30%;
    margin-top: -18%;
    border-radius: 7%;
    width: 200px;
    height: 200px;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background-color: #ff8c1a;
    text-align: center;
    padding-top: 15px;
}

#totalPills {
    font-family: 'Luckiest Guy', cursive;
}

#yourNumber {
    font-family: 'Luckiest Guy', cursive;
    padding-top: 25%;
    font-size: 36px;
}

.instructions {
    font-size: 22px;
    line-height: 1.5;
    padding: 10px;
}

.buttons {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 26.5%;
    padding-right: 25%;
    color: dodgerblue;
    border-radius: 5%;
    border-color: dodgerblue;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: center;
}

.buttons button {
    margin-right: 12px;
    margin-left: 12px;
}

#orangeBottle {
    background: url(../images/orange-bottle.png) no-repeat;
    background-size: 95%;
    padding-top: 5px;
    width: 150px;
    height: 150px;
}

#greenBottle {
    background: url(../images/green-bottle.png) no-repeat;
    background-size: 95%;
    width: 150px;
    height: 150px;
}

#blueBottle {
    background: url(../images/blue-bottle.png) no-repeat;
    background-size: 95%;
    width: 150px;
    height: 150px;
}

#purpleBottle {
    background: url(../images/purple-bottle.png) no-repeat;
    background-size: 95%;
    width: 150px;
    height: 150px;
}

.score {
    font-family: 'Luckiest Guy', cursive;
    font-size: 32px;
    text-align: center;
    background-color: dodgerblue; 
    line-height: 2;
}
